<div class="center bgimg">
 <h1 style="color:black">-----Benjamin Pomeranets-----</h1>
  <p>
    <!-- button to trigger addMovieModal -->
    <button (click)="addNewMovieOpenModal()"  type="button" class="rounded float-center ,btn btn-primary" data-toggle="modal" data-target="#addMovieModal">Add new movie</button>
  </p>
</div>


<!--  add movie Modal -->
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMovieModal">Add new movie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="addNewMovie()" #f="ngForm">
        <div class="modal-body">

          <p>Title</p><span class="help-block" style="color:red" *ngIf="!title.valid && title.touched">You must fill title name</span>
          <input type="text" class="form-control" name="inTitle" [(ngModel)]="movieTitle"  required #title="ngModel"><br>
          <p>Director</p><span class="help-block" style="color:red" *ngIf="!director.valid && director.touched">You must fill drector name</span>
          <input type="text" class="form-control"  name="inDirector" [(ngModel)]="movieDirector"  required #director="ngModel"><br>
          <p>Year {{movieYear}}</p><span class="help-block" style="color:red" *ngIf="!year.valid && year.touched">You must fill year</span>
          <input type="date" class="form-control"  name="inYear" [(ngModel)]="movieYear" required #year="ngModel"><br>
          <p>Run Time (min) </p><span class="help-block" style="color:red" *ngIf="!runtime.valid && runtime.touched">You must fill run time</span>
          <input type="number" class="form-control"  name="inRunTime" [(ngModel)]="movieRuntime" required #runtime="ngModel"><br>
          <p>Genre </p><span class="help-block" style="color:red" *ngIf="!genre.valid && genre.touched">You must fill genre</span>
          <input type="text" class="form-control"  name="inGenre" [(ngModel)]="movieGenre" required #genre="ngModel"><br>
          <p>Poster (url)</p>
          <input type="text" class="form-control"  name="inPoster" [(ngModel)]="moviePoster"><br>
      
        </div>
        <div class="modal-footer">
          <button (click)="closeModal(f)" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button  type="submit" class="btn btn-primary">Add</button>
          <!-- (click)="addNewMovie()" -->
        </div>
        </form>
      </div>
    </div>
  </div>
<!----------------------------------------------------------------->

  
  <!--  edit movie Modal  -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 onerror="value='hello'" class="modal-title" id="editModalLabel">{{movieTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="saveEditChanges()" #f2="ngForm">
            <div class="modal-body">
    
              <p>Title</p><span class="help-block" style="color:red" *ngIf="!title2.valid && title2.touched">You must fill title</span>
              <input type="text" class="form-control" name="inTitle" [(ngModel)]="movieTitle"  required #title2="ngModel"><br>
              <p>Director</p><span class="help-block" style="color:red" *ngIf="!director2.valid && director2.touched">You must fill director name</span>
              <input type="text" class="form-control"  name="inDirector" [(ngModel)]="movieDirector"  required #director2="ngModel"><br>
              <p>Year {{movieYear}}</p><span class="help-block" style="color:red" *ngIf="!year2.valid && year2.touched">You must fill year</span>
              <input type="date" class="form-control"  name="inYear" [(ngModel)]="movieYear" required #year2="ngModel"><br>
              <p>Run Time </p><span class="help-block" style="color:red" *ngIf="!runtime2.valid && runtime2.touched">You must fill run time</span>
              <input type="text" class="form-control"  name="inRunTime" [(ngModel)]="movieRuntime" required #runtime2="ngModel"><br>
              <p>Genre </p><span class="help-block" style="color:red" *ngIf="!genre2.valid && genre2.touched">You must fill genre</span>
              <input type="text" class="form-control"  name="inGenre" [(ngModel)]="movieGenre" required #genre2="ngModel"><br>
              <p>Poster (url)</p>
              <input type="text" class="form-control"  name="inPoster" [(ngModel)]="moviePoster"><br>
          
            </div>
            <div class="modal-footer">
           
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="saveEditChanges()" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
<!----------------------------------------------------------------->


<!-- main View container to display all movies on the screen. (It is a Bootstrap Container, So it will work just fine from smart phones) -->
<div class="container">
    <div class="row">
    
    <div  *ngFor="let movie of movies;let i = index" class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
      <!-- This will show the picture on the screen.If There is no picture or error it will show "No Image Picture" instead-->
    <img *ngIf="movie.Poster else noResults" onerror="src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png'"  [src]="movie.Poster"  alt="" class="img-fluid" />
    <ng-template #noResults>
        <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png" alt="" class="img-fluid">
      </ng-template>
     <!--this is pipe to display title like it was asked in the assignment  -->
    <h5>{{movie.Title | myPipe}}</h5>
    <p>{{movie.Year}}</p>
    </div>
    
    <div class="team-back">
    <span>
        <p class="card-text">Director <mark class="text-muted">{{movie.Director}}</mark></p>
        <p class="card-text">Genre <mark class="text-muted">{{movie.Genre}}</mark></p>
        <p class="card-text">Runtime<mark class="text-muted">{{movie.Runtime}}</mark></p>
        <div>
        <button (click)="deleteMovie(i)" class="rounded float-right ,btn btn-danger">delete</button>
        <!-- Button that trigger edit modal -->
        <button (click)="openEditModal(i)" type="button" class="rounded float-right ,btn btn-primary" data-toggle="modal" data-target="#editModal" >Edit</button>
      </div>
        <footer class="blockquote-footer">
          <cite *ngIf="movie.imdbID else localId" title="Source Title">Movie id {{movie.imdbID}}</cite>
          <ng-template #localId>
              <cite title="Source Title">Movie id {{movie.Id}}</cite>
            </ng-template>
        </footer>
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!----------------------------------------------------------------->